<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
    <title>{{ title }}</title><link rel="stylesheet" href="{% static 'base/css/base.css' %}" />
  </head>
  <body>
    <header>
      <nav>
        <ul id="upper">
          <div id="upper_center">
            <li class="page" onclick="location.href='{% url 'shop:product_list' %}'">
              <p>MyShop</p>
              <ul class="dropdown">
                <li>MyShop</li>
                <li>MyShop</li>
                <li>MyShop</li>
              </ul>
            </li>
            <li class="page">
              <p>About</p>
            </li>
            <li class="page" onclick="location.href='{% url 'payment:payment' %}'">
              <p>Payment</p>
              <ul class="dropdown">
                <li>Payment</li>
                <li>Payment</li>
                <li>Payment</li>
              </ul>
            </li>
          </div>
          <li class="page">
            <p onclick="location.href='{% url 'cart:cart' %}'">
              <img src="{% static 'base/images/shopping_cart.png' %}" alt="" />
            </p>
            <p onclick="location.href='{% url 'user_profile:user_profile' %}'">
              <img src="{% static 'base/images/profile_icon.png' %}" alt="" />
            </p>
          </li>

          {% comment %} <li class="page">
            <span>SMTHELSE</span>
            <ul class="dropdown">
              <li>SMTHELSE</li>
              <li>SMTHELSE</li>
              <li>SMTHELSE</li>
            </ul>
          </li> {% endcomment %}
        </ul>
      </nav>
    </header>
    <main>
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
      {% block content %}

      {% endblock %}
    </main>

    <div class="toasts-container position-absolute top-0 start-50 translate-middle-x">
      {% for message in messages %}
        <div class="toast text-white bg-{{messages.text}}" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            {% if message.tags == 'success' %}
              Успех
            {% elif message.tags == 'warning' %}
              Ошибка
            {% endif %}
            <strong class="me-auto">Bootstrap</strong>
            <small>11 мин. назад</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">{{ message }}</div>
        </div>
      {% endfor %}
    </div>

    <script src="{% static 'base/js/base.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
