{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
  <section>
    <div class="about_single">
      <div>
        <h1>Строительные услуги по возведению домов, бань, гаражей.</h1>
      </div>

      <p>ООО "Ломать не строить" выполнит строительство и возведение в Стерлитамаке загородных домов, индивидуальных домов и бань комфорт класса и класса "элит" со всеми городскими удобствами, а также возьмет на себя задачу по оформлению индивидуальных домов в собственность. Мы предложим вам типовые проекты индивидуальных домов разной площади и комфорта, а также может выполнить индивидуальный проект под ваши нужды и ваши условия.</p>
      <hr />
      <div class="row">
        <div class="col-lg-6">
          <div>
            <h3>Выполняем строительство:</h3>
          </div>
          <ul>
            <li>каменных (кирпичных, газобетонных, пенобетонных, из керамических блоков) домов;</li>
            <li>каркасных домов по разным технологиям;</li>
            <li>деревянных домов по традиционной русской технологии;</li>
            <li>деревянных и кирпичных бань;</li>
            <li>заборов из евроштакетника с кованными элементами;</li>
            <li>кирпичных заборов;</li>
            <li>межэтажных перекрытий и фундаментов и т.д;</li>
            <li>быстровозводимые дома по современным технологиям</li>
          </ul>
        </div>
        <div class="col-lg-6">
          <div>
            <h3>Если вы нуждаетесь:</h3>
          </div>
          <ul>
            <li>в заливке фундамента по ГОСТу;</li>
            <li>в ремонте и монтаже крыши и кровли;</li>
            <li>в строительстве заборов и элитных ограждений</li>
          </ul>
        </div>
        <div>
          <div>
            <h3>Мы вам в этом поможем!</h3>
            Ваше строительство - наша главная задача. Именно поэтому мы тщательно подбираем свою команду, учитываем все моменты строительства и основываемся на расчетах. Вам необходимо только оставить заявку (внизу страницы есть онлайн-чат) - ждать не придется, мы перезвоним вам немедленно.
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
