@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');



body {
    font-family: Libre Baskerville, serif;
    background-image: linear-gradient(140deg, rgb(119, 136, 153) 0%, white 50%, rgb(119, 136, 153) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main {
    margin-top: 100px;
    margin-bottom: 100px;
}

.upper_icon {
    width: 30px;
    margin-right: 20px;
}


.nav-link {
    font-weight: bold;
    color: black;
    font-size: larger;
}



.navbar-brand img {
    width: 50px;
}



.predfooter {
    color: black;
    font-size: larger;
    text-align: center;
}

.slide-text {
    color: black;
    font-size: large;
    padding-right: 14em;
}

.pic {
    margin: auto auto;
}

.footer-text {
    color: black;
    font-size: larger;
    margin: auto auto;
}

header {
    width: 100%;
    background-image: linear-gradient(100deg, rgb(119, 136, 153) 0%, white 100%);
    position: fixed;
    top: 0;
    z-index: 10;
    border-bottom: 1px gray solid;
}



footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10;
    background-image: linear-gradient(100deg, white 0%, rgb(119, 136, 153) 100%);
    border-top: 1px gray solid;
}



.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carusel {
    padding-left: 16em;
}



@media (max-width: 767px) {
    .carousel-indicators {
        display: none;
    }
}