{% extends 'layouts/base.html' %}
{% load static %}
{% block links %}
  <link rel="stylesheet" href="{% static 'goods/css/style.css' %}" />
{% endblock %}
{% block content %}
  <section>
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-8">
          <div class="row">
            {% for product in products %}
              <div class="col-lg-4 col-md-6 mt-4 product" onclick="location.href = '{% url 'catalog:product' product.slug %}'">
                <div class="card">
                  {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" />
                  {% endif %}

                  <div class="card-body">
                    <h4 class="card-title">{{ product.name }}</h4>
                    <h6 style="color: gray;">id: {{ product.display_id }}</h6>

                    <p class="card-text">{{ product.description }}</p>
                    {% if product.discount %}
                      <div class="multiple-product-cards-price-block">
                        <div>
                          <a href="#" class="btn btn-primary discounted-price">{{ product.sell_price }}</a><span class="initial-price-of-discounted-product">{{ product.price }}</span>
                        </div>
                        <img class="add-to-shopping-cart" src="{% static 'goods/images/add_to_shopping_cart.svg' %}" alt="" />
                      </div>
                    {% else %}
                      <div class="multiple-product-cards-price-block">
                        <a href="#" class="btn btn-primary">{{ product.price }}</a>
                        <img class="add-to-shopping-cart" src="{% static 'goods/images/add_to_shopping_cart.svg' %}" alt="" />
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="col-lg-3 col-md-12">
          <div class="row px-4">
            <div class="col-lg-12 sitebar my-4">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis fuga tempora officia et ex quia doloremque ut maxime natus voluptates, magnam saepe incidunt, dicta fugiat officiis mollitia impedit aliquid quibusdam. <a href="#">Подробнее>>></a>
              </p>
            </div>
            <div class="col-lg-12 sitebar my-4">
              <p>Контейнер с рекламой до футера</p>
            </div>
          </div>
        </div>
      </div>

      <nav id="pag">
        <ul class="pagination justify-content-center example">
          <div class="custom-shadow d-flex">
            <li class="page-item {% if not products.has_previous %} disabled {% endif %} ">
              <a class="page-link"
                href="{% if products.has_previous %}
                  ?page={{ products.previous_page_number }}
                {% else %}
                  #
                {% endif %}">
                Назад
              </a>
            </li>

            {% for page in products.paginator.page_range %}
              {% if page >= products.number|add:- 2 and page <= products.number|add:2 %}
                <li class="page-item {% if products.number == page %} active {% endif %}">
                  <a href="?page={{ page }}" class="page-link">{{ page }}</a>
                </li>
              {% endif %}
            {% endfor %}

            <li class="page-item {% if not products.has_next %} disabled {% endif %} ">
              <a class="page-link"
                href="{% if products.has_next %}
                  ?page={{ products.next_page_number }}
                {% else %}
                  #
                {% endif %}">
                Вперед
              </a>
            </li>
          </div>
        </ul>
      </nav>
    </div>
  </section>
{% endblock %}
